.container {
    position:relative;
}

.menu,
.content {
    padding:10px;
}

.menu {
    background-color:#60FF60;
    width:170px;
    position:absolute;
}

.content {
    background-color:#6060FF;
    color:#AAA;
    margin-left:200px;
}

@media screen and (max-width:599px) {
    .menu {
        position:static;
        width:auto;
    }
    .content {
        margin-left:0;
    }
}

.relative-direction {
    font-weight:bold;
    color:#FFF;
}